<?xml version='1.0' encoding='utf-8'?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.uicdb.app.view">
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<application
		android:allowBackup="true"
		android:label="文件管理器">
		<activity
			android:name=".MainActivity"
			android:label="文件管理器">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
	</application>
</manifest>